[submodule "awesome/lain"]
	path = awesome/lain
	url = https://github.com/copycat-killer/lain.git
[submodule "awesome/freedesktop"]
	path = awesome/freedesktop
	url = git@github.com:copycat-killer/awesome-freedesktop.git
[submodule "vim/vim_dir/UltiSnips"]
	path = vim/vim_dir/UltiSnips
	url = https://github.com/vulder/UltiSnips-llvm.git
